@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth font-monda;
}

img {
  height: auto;
  width: 100%;
}

/* .active {
  @apply;
} */

.divider {
  @apply border-t-8 rounded-xl border-gray-800 mx-auto;
}

.full-height {
  height: 100vh;
}

.personal-data {
  @apply grid grid-cols-4 gap-y-4 w-11/12 mx-auto mb-6;
}

.personal-data > dl {
  @apply col-span-3;
}

dl > ul > li::before {
  content: '[ ';
}

dl > ul > li::after {
  content: ' ]';
}

.rounded-border {
  @apply rounded-2xl bg-gray-400 border-4 border-gray-800;
}

.container {
  @apply relative flex leading-6 text-xl flex-col pt-6 mb-24 mx-auto flex-1;
}

.nav {
  @apply fixed bottom-0 z-10 w-full;
}

.title-card {
  @apply w-fit text-2xl px-8 py-2 mb-6 mx-auto bg-gray-600 border-4 border-gray-800 text-white;
}

.card {
  @apply mb-6 w-11/12 mx-auto p-4;
}
